.about {
  display: flex;
  position: relative;
  min-height: 550px;
  padding-top: 183px;
  padding-bottom: 145px;
  padding-right: 553px;
  background-color: #d8ecfe;
  align-items: center;
  z-index: 1;
  flex-direction: column;
  padding-left: 90px;
  box-sizing: border-box;
}

.about__text {
  box-sizing: border-box;
  max-width: 650px;
  margin-top: 24px;
  padding-right: 116px;
  margin-bottom: 40px;
}

.about::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 90px;
  content: "";
  width: 446px;
  height: 446px;
  border-radius: 50%;
  background-color: #C4E2FF;
}

.about::after {
  position: absolute;
  top: 86px;
  bottom: 0;
  right: 165px;
  display: block;
  content: "";
  width: 273px;
  height: 627px;
  margin: auto;
  background-image: url("/src/assets/fermer.svg");
  background-repeat: no-repeat;
}