.advantage-card {
  position: relative;
  width: 540px;
  min-height: 197px;
  padding: 20px;
  border-radius: 12px;
  background-color: #E1EDCE;
  box-sizing: border-box;
}

.advantage-card__text {
  margin-top: 7px;
  margin-bottom: 0;
}

.advantage-from_farm {
  background-color: #E1EDCE;
}

.advantage-from_shop {
  background-color: #F8DDD7;
}

.advantage-from_farm,
.advantage-from_shop {
  display: block;
  height: 25px;
  width: 175px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #88AA4D;
  margin-bottom: 5px;
}

.advantage-card__figure {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
}

.advantage-card__title {
  padding-left: 70px;
}

.advantage-card__title::before {
  position: absolute;
  content: "";
  top: 25px;
  left: 22px;
  bottom: 0;
  width: 56px;
  height: 56px;
  background-image: url("../../../assets/advantage-eat.svg");
  background-repeat: no-repeat;
}

.advantage-card__item-title {
  margin: 0;
  font-weight: 700;
}